{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/add-schedule.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Add Schedule</title>
</head>
<body>
    <div class="container">
        <div class="header-section">
            <h1>Add Schedule</h1>
            <a href="/" class="dashboard-button">Back to Dashboard</a>
        </div>
        <form action="" method="POST">
            {% csrf_token %}

            <!-- major dropdown -->
            <div class="form-group">
                <label for="{{ form.major.id_for_label }}">Major</label>
                <div class="dropdown-group">
                    {{ form.major }}
                    <button type="button" class="add-button" onclick="showPopupMajor()">Add Major</button>
                </div>
                {% if form.major.errors %}
                    <ul class="errorlist">
                        {% for error in form.major.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        
            <!-- subject dropdown -->
            <div class="form-group">
                <label for="{{ form.subject.id_for_label }}">Subject</label>
                <div class="dropdown-group">
                    <!-- {{ form.subject }} -->
                    <select id="id_subject" class="dropdown" name="subject">
                        <option value="">Select Subject</option>
                    </select>
                    <button type="button" class="add-button" onclick="showPopupSubject()">Add Subject</button>
                </div>
                {% if form.subject.errors %}
                    <ul class="errorlist">
                        {% for error in form.subject.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        
            <!-- teacher dropdown -->
            <div class="form-group">
                <label for="{{ form.teacher.id_for_label }}">Teacher</label>
                <div class="dropdown-group">
                    <!-- {{ form.teacher }} -->
                    <select id="id_teacher" class="dropdown" name="teacher">
                        <option value="">Select Teacher</option>
                    </select>
                    <button type="button" class="add-button" onclick="showPopupTeacher()">Add Teacher</button>
                </div>
                {% if form.teacher.errors %}
                    <ul class="errorlist">
                        {% for error in form.teacher.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <!-- time input -->
            <div class="form-group">
                <label for="{{form.time_begins.id_for_label}}">Time</label>
                <div class="time-inputs">
                    {{ form.time_begins }}
                    {{ form.time_ends }}
                </div>
                {% if form.time_begins.errors %}
                    <ul class="errorlist">
                        {% for error in form.time_begins.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <!-- room dropdown -->
            <div class="form-group">
                <label for="{{ form.room.id_for_label }}">Room</label>
                {{ form.room }}
            </div>
            
            <!-- day dropdown -->
            <div class="form-group">
                <label for="{{ form.day.id_for_label }}">Day</label>
                {{ form.day }}
            </div>                               
        
            <button type="submit" class="submit-button">Add Schedule</button>
        </form>        
    </div>

    <div id="popup-major" class="popup">
        <div class="popup-content">
            <span class="close-button" onclick="closePopup('popup-major')">&times;</span>
            <h2 id="popup-title-major">Add New Major</h2>
            <form action="/createMajor/" id="popup-form-major" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Major Name</label>
                    {{major_form.name}}
                </div>
                <button type="submit" class="submit-button">Add</button>
            </form>
        </div>
    </div>

    <div id="popup-subject" class="popup">
        <div class="popup-content">
            <span class="close-button" onclick="closePopup('popup-subject')">&times;</span>
            <h2 id="popup-title-subject">Add New Subject</h2>
            <form action="/createSubject/" id="popup-form-subject" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Major</label>
                    <div class="dropdown-group">
                        {{subject_form.major}}
                    </div>
                    <br>
                    <label>Subject Name</label>
                    {{subject_form.name}}
                </div>
                <button type="submit" class="submit-button">Add</button>
            </form>
        </div>
    </div>

    <div id="popup-teacher" class="popup">
        <div class="popup-content">
            <span class="close-button" onclick="closePopup('popup-teacher')">&times;</span>
            <h2 id="popup-title-teacher">Add New Teacher</h2>
            <form action="/createTeacher/" id="popup-form-teacher" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Major</label>
                    <div class="dropdown-group">
                        {{teacher_form.major}}
                    </div>
                    <br>
                    <label>Teacher Name</label>
                    {{teacher_form.name}}
                </div>
                <button type="submit" class="submit-button">Add</button>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#id_major').change(function(){
                let majorId = $(this).val()

                //if majorId exists
                if(majorId){
                    //fetch subject based on major_id
                    $.ajax({
                        url: '{% url "getSubjects" %}',
                        data: {
                            'major_id': majorId
                        },
                        success: function(data){
                            $('#id_subject')
                            .empty()
                            .append('<option value="">Select Subject</option>')
                            $.each(data.subjects, function(index, item){
                                $('#id_subject').append('<option value="' + item.id + '">' + item.name + '</option>')
                            })
                        }
                    })

                    //fetch teacher based on major_id
                    $.ajax({
                        url: '{% url "getTeachers" %}',
                        data: {
                            'major_id': majorId
                        },
                        success: function(data){
                            $('#id_teacher')
                            .empty()
                            .append('<option value="">Select Teacher</option>')
                            $.each(data.teachers, function(index, item){
                                $('#id_teacher').append('<option value="' + item.id + '">' + item.name + '</option>')
                            })
                        }
                    })
                }else{
                    $('#id_subject').empty().append('<option value="">Select Subject</option>')
                    $('#id_teacher').empty().append('<option value="">Select Teacher</option>')
                }
            })
        })

        //this is for major
        function showPopupMajor(){
            document.getElementById('popup-major').style.display = 'flex';
            document.getElementById('popup-input-major').placeholder = 'Enter ' + 'Major' + ' Name';
        }
        //this is for subject
        function showPopupSubject(){
            document.getElementById('popup-subject').style.display = 'flex';
            document.getElementById('popup-input-subject').placeholder = 'Enter ' + 'Subject' + ' Name';

        }
        //this is for teacher
        function showPopupTeacher(){
            document.getElementById('popup-teacher').style.display = 'flex';
            document.getElementById('popup-input-teacher').placeholder = 'Enter ' + 'Teacher' + ' Name';
        }
        function closePopup(id){
            document.getElementById(id).style.display = 'none';
        }
    </script>
</body>
</html>
