<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Schedule</title>
</head>
<body>
    <p>Schedule id : {{schedule.id}}</p>
    <p>Major : {{schedule.major}}</p>
    <p>Subject : {{schedule.subject}}</p>
    <p>Teacher : {{schedule.teacher_name}}</p>
    <p>Time : {{schedule.time_begins}} - {{schedule.time_ends}}</p>
    <p>Room : {{schedule.room}}</p>
    <p>Day : {{schedule.day}}</p>
    <br>
    <br>
</body>
</html>